@{
    ViewData["Title"] = "Home Page";
}
<div class="continer">
    <div class="text-center">
        <h1 class="display-4">Economic Management APP</h1>
        <p>Aplicacion para Administrar las finanzas personales...</p>
        <img src="~/img/Finanzas Personales.jpg" width="50%" height="50%" />
    </div>
</div>
