html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'BIZ UDGothic', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu Mono', monospace;
}

.btn-secondary {
    background-color: #536DFE;
    border-color: #536DFE;
}

    .btn-secondary:hover {
        background-color: #F9A826;
        border-color: #F9A826;
    }

    .btn-secondary:Active {
        background-color: #536DFE;
        border-color: #536DFE;
    }

.btn-delete {
    background-color: #F50057;
    border-color: #F50057;
}

    .btn-delete:hover {
        background-color: #F9A826;
        border-color: #F9A826;
    }

    .btn-delete:Active {
        background-color: #536DFE;
        border-color: #536DFE;
    }

.btn-submit {
    background-color: #00BFA6;
    border-color: #00BFA6;
}

    .btn-submit:hover {
        background-color: #F9A826;
        border-color: #F9A826;
    }

    .btn-submit:Active {
        background-color: #536DFE;
        border-color: #536DFE;
    }




